*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body.light{
    height: 100%;
    background-color: white;
    color: black;
}

body.dark{
    height: 100%;
    background-color: black;
    color: white;
}

button{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    cursor: pointer;
}