*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

img{
    padding: 10px;
    height: 300px;
}

.box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    height: 500px;
    width: 420px;
    display: none;
    /* background-color: brown;     */
}

.box img{
    height: 100%;
    width: 100%;
}